@if(!isLoading()){
<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Adresse e-mail</mat-label>
                <input matInput formControlName="email">
                <mat-error>{{emailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="password">
                <mat-error>{{passwordErrorMessage()}}</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Valider</button>
        </mat-card-content>
    </form>
</mat-card>
} @else {
<mat-spinner></mat-spinner>
}