.page{
   display: flex;
   flex-direction: column;
   align-items:center;
}


/* Media Query pour un écran moyen à large */
@media screen and (min-width: 768px) {
    mat-card {
     width: 50%;
     margin: 0.5em 0 0.5em 0;
    }
}

/* Media Query pour un écran plus petit */
@media screen and (max-width: 767px) {
    mat-card {
    width: 90%;
    margin: 0.5em 0 0.5em 0;
    }
}

.card-newPost {
   display: flex;
   justify-content:space-between;
   align-items:stretch;

}

.item{
  flex-grow: 1;
}

.card-avatar {
  background-size: cover;
}

.card-text{
    text-align: justify;
}

.like-count{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}